.btn{
  background-color: #F23041;
  cursor: pointer;
}

.background {
  background-image: url('./img/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.text-footer{
  color: #0D0D0D;
}

.navbar{
  background-color: #F2F2F2;
}